DATABASE_HOST=10.100.0.3
DATABASE_PORT=5432
DATABASE_NAME=travelhub
DATABASE_USER=travelhub_app
DATABASE_PASSWORD=lALk8rAOj1TSltRQzGavZdBCrSu67ZJg

KAFKA_BOOTSTRAP_SERVERS=10.100.0.5:9092
KAFKA_TOPIC_PMS_SYNC=pms-sync-queue
KAFKA_ENABLED=true

JWT_ISSUER=https://auth.travelhub.app
JWT_AUDIENCE=travelhub-api

SERVICE_NAME=pms-integration-services
SERVICE_PORT=8000
